<br>
<div class="jumbotron">

<h1>About Blocmark</h1>
<p>Created by Pam</p>

</br>

<h2>Just send an email to:</br> <strong>pam-blocmarks@app5988cc52158c402ab5689904615024dc.mailgun.org<strong></h2> <h3>with Topic in the subject line and your bookmark url in the body of the email.</h3> 

</br>

<h3>Your Topic and bookmark will appear on "Your Bookmarks". You can "like" your bookmarks and other people's bookmarks. You can add Topics and new bookmarks on the site or email them using the above address.</h3>

</div>
